<!-- <link href="/css/bootstrap-responsive.css" rel="stylesheet"> -->
<link href="/css/main.css" rel="stylesheet">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<!-- <link href='http://fonts.googleapis.com/css?family=Bitter:400,700,400italic' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic' rel='stylesheet' type='text/css'> -->

<!-- /*<style>
  body {
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
  }
</style>*/ -->
<!-- <div class="row-fluid">
  <div class="wrapper">
    <div class="container">
      <div class="span12"> -->
        {{ content }}
      <!-- </div>
    </div>
  </div>
</div> -->
{% include footer.html %}
{% include google_analytics.html %}
